@using CursoOnline.Dominio.Cursos
@model CursoOnline.Web.Util.PaginatedList<CoursesListDto>
@{
    ViewData["Title"] = "Listagem de cursos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Curso" class="btn">Voltar</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="/Curso/Novo" class="btn btn-primary">Novo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Carga Horária</th>
                        <th>Publico Alvo</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Hours
                            </td>
                            <td>
                                @item.TargetAudience
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                <a href="/Curso/Editar/@item.Id" class="btn">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Anterior
            </a>
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Próximo
            </a>
        </div>
    </div>
</div>



